@keyframes increase {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  0% {
    transform: scale(1);
  }
}

@keyframes decrease {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  0% {
    transform: scale(1);
  }
}

.increase {
  animation-name: increase;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.decrease {
  animation-name: decrease;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
